{% extends 'sideandtopbar.html.twig' %}

{% block gestion %} GALERIA{% endblock %}
{% block tbot %}NUEVA IMAGEN{% endblock %}

{% block row %}
<div class="row pt-3">
                        <div class="col-1"></div>
                        <div class="col-10 bg-white shadow">
                            <table class="table table-striped table-hover text-center">
                                <thead>
                                    <tr>
                                        <th>NOMBRE</th>
                                        <th>TIPO</th>
                                        <th>MINIATURA</th>
                                        <th>ACCIONES</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>aguacates</td>
                                        <td>PRODUCTOS</td>
                                        <td><img class="w-25" src="/img/aguacate.jpg" alt=""></td>
                                        <td class="w-25"><a class="btn btn-danger" href=""><i class="bi bi-trash-fill"></i></a><a class="btn btn-warning ms-2" href=""><i class="bi bi-pencil-square"></i></a><a class="btn btn-primary ms-2" href=""><i class="bi bi-eye"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>aguacates</td>
                                        <td>PRODUCTOS</td>
                                        <td><img class="w-25" src="/img/aguacate.jpg" alt=""></td>
                                        <td class="w-25"><a class="btn btn-danger" href=""><i class="bi bi-trash-fill"></i></a><a class="btn btn-warning ms-2" href=""><i class="bi bi-pencil-square"></i></a><a class="btn btn-primary ms-2" href=""><i class="bi bi-eye"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>aguacates</td>
                                        <td>PRODUCTOS</td>
                                        <td><img class="w-25" src="/img/aguacate.jpg" alt=""></td>
                                        <td class="w-25"><a class="btn btn-danger" href=""><i class="bi bi-trash-fill"></i></a><a class="btn btn-warning ms-2" href=""><i class="bi bi-pencil-square"></i></a><a class="btn btn-primary ms-2" href=""><i class="bi bi-eye"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>aguacates</td>
                                        <td>PRODUCTOS</td>
                                        <td><img class="w-25" src="/img/aguacate.jpg" alt=""></td>
                                        <td class="w-25"><a class="btn btn-danger" href=""><i class="bi bi-trash-fill"></i></a><a class="btn btn-warning ms-2" href=""><i class="bi bi-pencil-square"></i></a><a class="btn btn-primary ms-2" href=""><i class="bi bi-eye"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>aguacates</td>
                                        <td>PRODUCTOS</td>
                                        <td><img class="w-25" src="/img/aguacate.jpg" alt=""></td>
                                        <td class="w-25"><a class="btn btn-danger" href=""><i class="bi bi-trash-fill"></i></a><a class="btn btn-warning ms-2" href=""><i class="bi bi-pencil-square"></i></a><a class="btn btn-primary ms-2" href=""><i class="bi bi-eye"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>aguacates</td>
                                        <td>PRODUCTOS</td>
                                        <td><img class="w-25" src="/img/aguacate.jpg" alt=""></td>
                                        <td class="w-25"><a class="btn btn-danger" href=""><i class="bi bi-trash-fill"></i></a><a class="btn btn-warning ms-2" href=""><i class="bi bi-pencil-square"></i></a><a class="btn btn-primary ms-2" href=""><i class="bi bi-eye"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>aguacates</td>
                                        <td>PRODUCTOS</td>
                                        <td><img class="w-25" src="/img/aguacate.jpg" alt=""></td>
                                        <td class="w-25"><a class="btn btn-danger" href=""><i class="bi bi-trash-fill"></i></a><a class="btn btn-warning ms-2" href=""><i class="bi bi-pencil-square"></i></a><a class="btn btn-primary ms-2" href=""><i class="bi bi-eye"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-1"></div>
                    </div>
{% endblock %}