.trj{
    position: relative;
    transition: all .3s ease;
}

.trj-efc{
    box-shadow: 0 60px 60px -60px rgb(0, 0, 0);
    border-radius: 4px;
    object-fit: cover;
    width: 100%;
    background-image: url('../img/aguacate.jpg');
}

.txt-efc{
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(25%);
    transition: .3s ease;
    opacity: 0;
    color: white;
}

.trj:hover{
    transform: 
        perspective(250px)
        rotateX(10deg)
        translateY(-5%)
        translateZ(0)
    ;
    
}

.trj-efc::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, transparent 10%, rgba(0,0,0,0.5) 50%, rgba(0,0,0) 95%);
    opacity: 0;
    transition: all .3s ease;
}

.trj:hover::before{
    opacity: 1;
}

.trj:hover .txt-efc{
    opacity: 1;
    transform: translateY(10%);
}

.fs-7{
    font-size: 0.7rem;
}

  #avoc {

  	font: 700 3em/1 "Oswald", sans-serif;
  	letter-spacing: 0;
  	padding: .25em 0 .325em;
	  display: block;
	  margin: 0 auto;
  	text-shadow: 0 0 80px rgba(255,255,255,.5);

/* Clip Background Image */

	  background: url(../img/animated-text-fill.png) repeat-y;
	  -webkit-background-clip: text;
	  background-clip: text;

/* Animate Background Image */

	  -webkit-text-fill-color: transparent;
	  -webkit-animation: aitf 80s linear infinite;

/* Activate hardware acceleration for smoother animations */

	  -webkit-transform: translate3d(0,0,0);
	  -webkit-backface-visibility: hidden;

  }


/* Animate Background Image */

@-webkit-keyframes aitf {
	0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
}

nav{
    background-color: #F3F2F2 !important;
}

.cl-effect-20 a {
	line-height: 2em;
	-webkit-perspective: 800px;
	-moz-perspective: 800px;
	perspective: 800px;
}

.cl-effect-20 a .span {
	position: relative;
	display: inline-block;
	padding: 3px 15px 0;
	background: #ADE966;
	box-shadow: inset 0 3px #000000;
	-webkit-transition: background 0.6s;
	-moz-transition: background 0.6s;
	transition: background 0.6s;
	-webkit-transform-origin: 50% 0;
	-moz-transform-origin: 50% 0;
	transform-origin: 50% 0;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform-origin: 0% 50%;
	-moz-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
}

.cl-effect-20 a .span::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #98ce56;
	color: #2f4351;
	content: attr(data-hover);
	-webkit-transform: rotateX(270deg);
	-moz-transform: rotateX(270deg);
	transform: rotateX(270deg);
	-webkit-transition: -webkit-transform 0.6s;
	-moz-transition: -moz-transform 0.6s;
	transition: transform 0.6s;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;
	pointer-events: none;
}

.cl-effect-20{
    background-color:#F3F2F2 ;
}

.cl-effect-20 a:hover .span,
.cl-effect-20 a:focus .span {
	background: #2f4351;
}

.cl-effect-20 a:hover .span::before,
.cl-effect-20 a:focus .span::before {
	-webkit-transform: rotateX(10deg);	
	-moz-transform: rotateX(10deg);
	transform: rotateX(10deg);
}