.noticia:hover{
    border: 2px #000 solid !important;
}

.b-search:hover{
    background-color: #96b670 !important;
}

.buscador{
    width: 100%;
    height: 100%;
    background-color: rgba(233, 233, 233, 0.561) !important;
    border-radius: 0 !important;
    border: 0 !important;
    border-bottom: 3px solid #AEEC63 !important;
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
}