{% extends 'base.html.twig' %}

{% block title %}- Galeria{% endblock %}
{% block css %}<link rel="stylesheet" href="css/galeria.css">{% endblock %}

{% block main %}
<main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 fondo">
                    <h1 class="text-center text-white fw-bold pt-4 pb-3">GALERIA DE IMÁGENES</h1>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="fw-bold text-verde border-bottom border-2 border-verde pt-3 m-0">Nuestros Productos</h1>
                </div>
            </div>
        </div>
        <div class="container bg-white shadow-lg pt-2 pb-2">    
            <div class="row pt-2">
                <div class="col-4"><img class="shadow-lg w-100" src="img/AVOCTROP (Logo) Verde.jpg" alt=""></div>
                <div class="col-4"><img class="w-100 shadow-lg" src="img/AVOCTROP (Logo) Verde.jpg" alt=""></div>
                <div class="col-4"><img class="w-100 shadow-lg" src="img/AVOCTROP (Logo) Verde.jpg" alt=""></div>
            </div>
            <div class="row pt-3">
                <div class="col-4"><img class="shadow-lg w-100" src="img/AVOCTROP (Logo) Verde.jpg" alt=""></div>
                <div class="col-4"><img class="w-100 shadow-lg" src="img/AVOCTROP (Logo) Verde.jpg" alt=""></div>
                <div class="col-4"><img class="w-100 shadow-lg" src="img/AVOCTROP (Logo) Verde.jpg" alt=""></div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="fw-bold text-verde border-bottom border-2 border-verde pt-3 m-0">Nuestros Productos</h1>
                </div>
            </div>
        </div>
        <div class="container bg-white shadow-lg pt-2 pb-2">    
            <div class="row pt-2">
                <div class="col-4"><img class="shadow-lg w-100" src="img/AVOCTROP (Logo) Verde.jpg" alt=""></div>
                <div class="col-4"><img class="w-100 shadow-lg" src="img/AVOCTROP (Logo) Verde.jpg" alt=""></div>
                <div class="col-4"><img class="w-100 shadow-lg" src="img/AVOCTROP (Logo) Verde.jpg" alt=""></div>
            </div>
            <div class="row pt-3">
                <div class="col-4"><img class="shadow-lg w-100" src="img/AVOCTROP (Logo) Verde.jpg" alt=""></div>
                <div class="col-4"><img class="w-100 shadow-lg" src="img/AVOCTROP (Logo) Verde.jpg" alt=""></div>
                <div class="col-4"><img class="w-100 shadow-lg" src="img/AVOCTROP (Logo) Verde.jpg" alt=""></div>
            </div>
        </div>    
    </main>
{% endblock %}