{% extends 'base.html.twig' %}

{% block title %}- Inicio{% endblock %}

{% block main %}
<main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 p-0 fondo">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row pt-3 border-bottom-verde">
                <div class="col-12 text-verde">
                    <h1 class="fw-bold text-center">TENEMOS AGUACATES PARA TODO EL AÑO</h1>
                </div>
            </div>
        </div>
        <div class="container bg-white shadow-lg">
            <div class="row pt-5">
                <div class="col-12">
                    <form action="">
                        <input type="text" class="form-control border-verde border-2" id="buscador"
                            placeholder="Buscar por nombre de producto">
                    </form>
                </div>
            </div>
            <div class="row pt-5">
                <div class="col-3">
                    <div class="border h-100 shadow">
                        <div>
                            <h2 class="text-center pt-4">Filtros Busqueda</h2>
                            <h2 class="text-danger fw-bold">Falta posar filtros</h2>
                        </div>
                    </div>
                </div>
                <div class="col-9">
                    <div class="row">
                        <div class="col-4">
                            <a class="text-decoration-none text-dark" href="producto">
                                <div class="producto shadow">
                                    <img class="img-prod" src="/img/AVOCTROP (Logo) Verde.jpg" alt="">
                                    <h3 class="text-center pt-3">Aguacate 4kg</h3>
                                    <h4 class="text-end fw-bold text-verde">3,33€</h4>
                                    <div class="text-end pt-3">
                                        <a class="btn btn-verde rounded-0" href="">Añadir al carro</a>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-4">
                            <div class="producto shadow">
                                <img class="img-prod" src="/img/AVOCTROP (Logo) Verde.jpg" alt="">
                                <h3 class="text-center pt-3">Aguacate 4kg</h3>
                                <h4 class="text-end fw-bold text-verde">3,33€</h4>
                                <div class="text-end pt-3">
                                    <a class="btn btn-verde rounded-0" href="">Añadir al carro</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="producto shadow">
                                <img class="img-prod" src="/img/AVOCTROP (Logo) Verde.jpg" alt="">
                                <h3 class="text-center pt-3">Aguacate 4kg</h3>
                                <h4 class="text-end fw-bold text-verde">3,33€</h4>
                                <div class="text-end pt-3">
                                    <a class="btn btn-verde rounded-0" href="">Añadir al carro</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="producto shadow">
                                <img class="img-prod" src="/img/AVOCTROP (Logo) Verde.jpg" alt="">
                                <h3 class="text-center pt-3">Aguacate 4kg</h3>
                                <h4 class="text-end fw-bold text-verde">3,33€</h4>
                                <div class="text-end pt-3">
                                    <a class="btn btn-verde rounded-0" href="">Añadir al carro</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="producto shadow">
                                <img class="img-prod" src="/img/AVOCTROP (Logo) Verde.jpg" alt="">
                                <h3 class="text-center pt-3">Aguacate 4kg</h3>
                                <h4 class="text-end fw-bold text-verde">3,33€</h4>
                                <div class="text-end pt-3">
                                    <a class="btn btn-verde rounded-0" href="">Añadir al carro</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="producto shadow">
                                <img class="img-prod" src="/img/AVOCTROP (Logo) Verde.jpg" alt="">
                                <h3 class="text-center pt-3">Aguacate 4kg</h3>
                                <h4 class="text-end fw-bold text-verde">3,33€</h4>
                                <div class="text-end pt-3">
                                    <a class="btn btn-verde rounded-0" href="">Añadir al carro</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="producto shadow">
                                <img class="img-prod" src="/img/AVOCTROP (Logo) Verde.jpg" alt="">
                                <h3 class="text-center pt-3">Aguacate 4kg</h3>
                                <h4 class="text-end fw-bold text-verde">3,33€</h4>
                                <div class="text-end pt-3">
                                    <a class="btn btn-verde rounded-0" href="">Añadir al carro</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="producto shadow">
                                <img class="img-prod" src="/img/AVOCTROP (Logo) Verde.jpg" alt="">
                                <h3 class="text-center pt-3">Aguacate 4kg</h3>
                                <h4 class="text-end fw-bold text-verde">3,33€</h4>
                                <div class="text-end pt-3">
                                    <a class="btn btn-verde rounded-0" href="">Añadir al carro</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="producto shadow">
                                <img class="img-prod" src="/img/AVOCTROP (Logo) Verde.jpg" alt="">
                                <h3 class="text-center pt-3">Aguacate 4kg</h3>
                                <h4 class="text-end fw-bold text-verde">3,33€</h4>
                                <div class="text-end pt-3">
                                    <a class="btn btn-verde rounded-0" href="">Añadir al carro</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}